<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz-Time</title>
    <link rel="stylesheet" href="..\static\css\main-section.css">
</head>
<body>

<style>
body{
    background-color: grey;
}
.main-section{
    border: dotted;
    width: 70%;
    margin: auto;
    padding: 10px;
}
.questions{
    line-height: 1.7;
}
</style>

<div class="menu-bar">
    <h1 style="text-align: center; background-color: pink; color: white;">Quiz - Time</h1>
</div>

<div class="main-section">
    <ol class="questions">
        <li>Mart <input type="text" name="a1" size="4" required> Muhus.</li>
        <li>Mart <input type="text" name="a1" size="4" required> Muhus.</li>
        <li>Mart <input type="text" name="a1" size="4" required> Muhus.</li>
        <li>Mart <input type="text" name="a1" size="4" required> Muhus.</li>
    </ol>
</div>


</body>
</html>